@import url("https://use.typekit.net/pjh3eai.css"); // Ben's personal licensed copy of Proxima Nova
$govuk-show-breakpoints: true;
$govuk-new-link-styles: true;
@import "../../../src/LBS/all";
@import "partials/app";

.home-page {
  padding-top: 0;

  .sutton-scene-signup {
    @extend .lbs-row--alt4;
    display: flex;
    padding: $lbs-margin;
    border-radius: $lbs-border-radius;

    .govuk-grid-column-three-quarters {
      display: flex;
      align-items: center;

      > div p {
        margin-bottom: 0;
      }
    }
  }
}
