{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing govuk-width-container' %}

{% extends "_generic.njk" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  <h2>Default</h2>

  {{ govukDetails({
    summaryText: "Help with nationality",
    text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
  }) }}

{% endblock %}
