.lbs-footer {
  padding: $lbs-margin / 3 0;
  border-top: 5px solid $lbs-green-1;
  background: rgba($lbs-grey, .1);

  ul {
    @extend .govuk-list;
  }

  .lbs-footer__icon-container {
    display: flex;
  }

  .lbs-footer__icon {
    display: inline-block;
    width: $lbs-margin * 1.25;
    height: $lbs-margin * 1.25;
    margin-right: $lbs-margin;
    padding: $lbs-margin / 2;
    border: 2px solid rgba($lbs-green-1, .25);
    border-radius: 50%;
    vertical-align: middle;
    //background: $lbs-white;

    svg {
      fill: $lbs-green-1;
    }
  }

  .govuk-width-container {
    display: flex; // Floats or flex? Flex feels best but floats are better supported
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include govuk-media-query($from: desktop) {
      flex-direction: row;
      position: relative;
      align-items: stretch;
    }
  }

  &--secondary {
    //display: flex;

    nav {
      display: flex;
      justify-content: space-between;
      padding: $lbs-margin / 2 0;

      .lbs-footer__navigation {
        @extend .govuk-list;
        display: flex;
        margin: 0;
        flex-direction: column;
        @include govuk-media-query($from: desktop) {
          flex-direction: row;
          align-items: center;
          //justify-content: space-between;
        }

        li {
          margin: 0 $lbs-margin * 2 0 0;
        }
      }

      .lbs-footer__navigation--social {
        justify-content: flex-end;

        li {
          margin: 0 0 0 $lbs-margin * 2;
        }
      }
    }
  }
}
