.lbs-row {
  .lbs-row__container {
    @extend .govuk-width-container;
    padding: $lbs-margin 0;
  }

  &--alt {
    background: rgba($lbs-green-2, .1);
  }

  &--alt2 {
    background: rgba($lbs-grey, .1);
  }

  &--alt3 {
    background: rgba($lbs-green-1, 1);
  }

  &--phase-banner {
    //@include lbs-background-gradient;
    background: rgba($lbs-green-1, .2);

    .lbs-row__container {
      padding: 0;

      .govuk-phase-banner {
        border-color: transparent;
      }
    }
  }
}
