---
scenario: You want to read this article about '2018’s oddest requests from Brits abroad'.
notes: Based on https://www.gov.uk/government/news/strictly-vampires-and-sausages-2018s-oddest-requests-from-brits-abroad
---

{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}
{% from '../../../../src/LBS/components/card/macro.njk' import lbsCard %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing govuk-width-container' %}

{% extends "_generic.njk" %}

{% block beforeContent %}
  {{ lbsPageHeader({
    heading: 'Streets, Transport and Parking',
    descriptionPosition: 'inside',
    description: 'Apply for or renew a parking permit, read about parking consultations or report a street cleaning issue.',
    breadCrumbItems: [
      {
        text: 'Home',
        href: '/'
      },
      {
        text: 'Streets, Transport and Parking',
        href: '#'
      }
    ]
  }) }}
  <div class="lbs-row lbs-row--alt">
    <div class="lbs-row__container">
        <h2 class="govuk-heading-s">Popular</h2>
        <ol class="lbs-popular-items__list lbs-card__wrapper">
          <li class="govuk-grid-column-one-third-from-desktop">
            {{ lbsCard({
              heading: {
                title: 'Pay Parking Notice Charge',
                href: '#'
              },
              popularItem: true
            }) }}
          </li>
          <li class="govuk-grid-column-one-third-from-desktop">
            {{ lbsCard({
              heading: {
                title: 'Apply for parking permit',
                href: '#'
              },
              popularItem: true
            }) }}
          </li>
          <li class="govuk-grid-column-one-third-from-desktop">
            {{ lbsCard({
              heading: {
                title: 'Report fly tipping',
                href: '#'
              },
              popularItem: true
            }) }}
          </li>
        </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row lbs-card__wrapper" data-show-more="true" data-show-more-position="after">
    <div class="govuk-grid-column-one-half-from-desktop govuk-grid-column-one-third-from-wide">
      {{ lbsCard({
        heading: {
          title: 'Parking',
          href: '#'
        },
        cardBodyHtml: 'Find out about permit parking areas and how to apply for and renew parking permits and visitor vouchers',
        bgColour: false,
        clickable: true
      }) }}
    </div>

    <div class="govuk-grid-column-one-half-from-tablet govuk-grid-column-one-third-from-wide">
      {{ lbsCard({
        heading: {
          title: 'Streets, roads and highways',
          href: '#'
        },
        cardBodyHtml: 'Find out about road works, highway mainentance and more',
        bgColour: false,
        clickable: true
      }) }}
    </div>

    <div class="govuk-grid-column-one-half-from-desktop govuk-grid-column-one-third-from-wide">
      {{ lbsCard({
        heading: {
          title: 'Street cleaning',
          href: '#'
        },
        cardBodyHtml: 'Find out about road works, highway mainentance and more',
        bgColour: false,
        clickable: true
      }) }}
    </div>

    <div class="govuk-grid-column-one-half-from-desktop govuk-grid-column-one-third-from-wide">
      {{ lbsCard({
        heading: {
          title: 'Travel and transport',
          href: '#'
        },
        cardBodyHtml: 'Find out about cycling initiatives and sustainable travel in the borough',
        bgColour: false,
        clickable: true
      }) }}
    </div>

    <div class="govuk-grid-column-one-half-from-desktop govuk-grid-column-one-third-from-wide">
      {{ lbsCard({
        heading: {
          title: 'Highways and street lighting',
          href: '#'
        },
        cardBodyHtml: 'Find out about cycling initiatives and sustainable travel in the borough',
        bgColour: false,
        clickable: true
      }) }}
    </div>

  </div>


  {% set cardCopy %}
    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: {
          text: "Telephone"
        },
          value: {
          text: "0208 547 5007"
        }
        },
        {
          key: {
          text: "Email"
        },
          value: {
          text: "ctax@sutton.gov.uk"
        }
        },
        {
          key: {
          text: "Address"
        },
          value: {
          html: "72 Guild Street<br>London<br>SE23 6FH"
        }
        }
      ]
    }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ lbsCard({
        heading: {
          title: 'Contact the department',
          classes: 'asd'
        },
        contact: true,
        bgColour: true,
        cardBodyHtml: cardCopy
      }) }}
    </div>
  </div>

{% endblock %}
