.lbs-header__navigation {
  @include govuk-media-query($until: desktop) {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    transition: all 0.2s ease;
    width: 80vw;
    box-shadow: 3px 0px 6px 0px rgba($lbs-black, 0.3);
    //overflow-y: scroll;
    &.active {
      left: 0;
    }
  }
  //@extend .govuk-header__navigation; // Not 100% what this is adding at the moment
  &--level1 {
    @extend .govuk-list;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1d70b8;
    @include govuk-media-query($until: desktop) {
      height: 100vh;
      background: $lbs-green-1;
      overflow-y: scroll;
    }
    @include govuk-media-query($from: desktop) {
      flex-direction: row;
      justify-content: space-around;
    }

    & button {
      @extend .govuk-link;
      //background-color: yellow;
      padding: 0;
      background: transparent;
      appearance: none;
      outline: none;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }

    [aria-haspopup="true"]::after {
      content: url('../../assets/img/arrow-down--red.svg');
      padding: 0 $lbs-margin/2;
    }

    li {
      &:hover, &[data-submenu-open="true"] {
        cursor: pointer;

        .lbs-header__navigation--level2 {
          display: block;
        }
      }

      a {
        display: block;
        color: $lbs-green-1;
        font-weight: 600;
        @include govuk-media-query($until: desktop) {
          padding: $lbs-margin $lbs-margin/2;
          background: rgba($lbs-white, 1);
        }
        @include govuk-media-query($from: desktop) {

        }
      }
    }
  }

  &--level2 {
    display: none;
    background: $lbs-green-1;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      a {
        font-weight: normal;

        &:before {
          content: "";
          height: $lbs-margin/2;
          width: $lbs-margin/2;
          margin-right: $lbs-margin/2;
          display: inline-block;
          background: url("../../assets/img/right-chevron--green.svg") no-repeat center;
        }
      }
    }

    @include govuk-media-query($until: desktop) {
      li {
        //margin-left: 5px;
        a {
          background: rgba($lbs-white, 0.9);
        }
      }
    }
    @include govuk-media-query($from: desktop) {
      position: absolute;
    }

  }
}