.gem-c-layout-super-navigation-header__content {
  flex: 1 0 100%;
  @include govuk-media-query($from: desktop) {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-end;
    //display: block;
    //float: right;
  }
}

.gem-c-layout-super-navigation-header__search-and-popular {
  border: 3px solid;
}
// Navigation Top Toggle
.gem-c-layout-super-navigation-header__navigation-toggle-wrapper {
  position: relative;
}

@import "scss/navigation-items";
//@import "scss/toggle-button";
//@import "scss/search-toggle-button";
@import "scss/search-and-popular";
//@import "scss/second-items";

.gem-c-layout-super-navigation-header__navigation-dropdown-menu {
  background: #f3f2f1;
  @include govuk-media-query($from: desktop) {
    position: absolute;
    right: 0;
    left: 0;
  }
}

.gem-c-layout-super-navigation-header__menu-description {
  display: none;
  @include govuk-media-query($from: desktop) {
    display: block;
    padding: 40px 0;
  }
}

.gem-c-layout-super-navigation-header__dropdown-list-item {
  box-sizing: border-box;
  position: relative;
  padding: 0 0 20px;
}

@media (max-width: 48.0525em) {
  .gem-c-layout-super-navigation-header__width-container {
    margin: 0;
  }
}
