{# @todo - add button/link or type attr to the params - this would differentiate between a 'real link' and a button (or similar) that exposes an additional menu (https://www.smashingmagazine.com/2017/11/building-accessible-menu-systems/) #}
<nav role="navigation" id="lbs-header__navigation" class="lbs-header__navigation">
    <ul class="lbs-header__navigation--level1"
        aria-label="{{ params.navigationLabel | default('Navigation menu') }}">
        {% for item in params.navigation %}
            <li>
                {% if item.subItems.length > 0 %}
                    <button
                       class="lbs-header__navigation__item--level1"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {{ item.text }}
                    </button>
                    {% if item.subItems.length > 0 %}
                        <ul class="lbs-header__navigation--level2" role="menu">
                            {% for subItem in item.subItems %}
                                <li role="menuitem">
                                    <a href="/{{ subItem.href }}/">{{ subItem.text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    <a href="{{ item.href }}"
                       class="lbs-header__navigation__item--level1">
                        {{ item.text }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>