---
scenario: You want to read this article about '2018’s oddest requests from Brits abroad'.
notes: Based on https://www.gov.uk/government/news/strictly-vampires-and-sausages-2018s-oddest-requests-from-brits-abroad
---

{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing govuk-width-container' %}

{% extends "_generic.njk" %}

{% block header %}
  {{ lbsHeader({
    search: false
  }) }}
{% endblock %}

{% set popularItems %}
  <ol class="govuk-grid-row lbs-list--no-style lbs-list--grid-list">
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Book visit to the recycling centre</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Check your bin collection days</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Contact us</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">COVID 19</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">View and comment on applications</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Jobs and careers</a></li>
  </ol>
{% endset %}

{% set reportItems %}
  <ol class="govuk-grid-row lbs-list--no-style lbs-list--grid-list">
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Book visit to the recycling centre</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Check your bin collection days</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Contact us</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">COVID 19</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">View and comment on applications</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Jobs and careers</a></li>
  </ol>
{% endset %}

{% set payItems %}
  <ol class="govuk-grid-row lbs-list--no-style lbs-list--grid-list">
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Book visit to the recycling centre</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Check your bin collection days</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Contact us</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">COVID 19</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">View and comment on applications</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Jobs and careers</a></li>
  </ol>
{% endset %}

{% block beforeContent %}
  {{ lbsPageHeader({
    homepage: true,
    image: '/assets/img/home-image--1.jpg',
    breadcrumbs: false,
    tabs: [
      {
        "label": "Popular",
        "content": popularItems
      },
      {
        "label": "Report an issue",
        "content": reportItems
      },
      {
        "label": "Pay for something",
        "content": payItems
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

  </div>

{% endblock %}
