---
scenario: You want to read this article about '2018’s oddest requests from Brits abroad'.
notes: Based on https://www.gov.uk/government/news/strictly-vampires-and-sausages-2018s-oddest-requests-from-brits-abroad
---

{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from '../../../../src/LBS/components/card/macro.njk' import lbsCard %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing home-page' %}

{% extends "_generic.njk" %}

{% block header %}
  {{ lbsHeader({
    search: false
  }) }}
{% endblock %}

{% set popularItems %}
  <ol class="govuk-grid-row lbs-list--no-style lbs-list--grid-list">
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Book visit to the
        recycling centre</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Check your bin collection
        days</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Contact us</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">COVID 19</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">View and comment on
        applications</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Jobs and careers</a></li>
  </ol>
{% endset %}

{% set reportItems %}
  <ol class="govuk-grid-row lbs-list--no-style lbs-list--grid-list">
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report a missed bin
        collection</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report an abandoned
        vehicle</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report a safeguarding
        concern</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report fly-tipping</a>
    </li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report graffiti</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report footway defects or
        faults</a></li>
  </ol>
{% endset %}

{% set payItems %}
  <ol class="govuk-grid-row lbs-list--no-style lbs-list--grid-list">
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Council tax and business
        rates</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Penalty charge notice
        (PCN)</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Parking permits</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Garden waste
        collections</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Fixed Penalty notice (FPN)
        Covid </a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Building control</a></li>
  </ol>
{% endset %}

{% block beforeContent %}
  {{ lbsPageHeader({
    homepage: true,
    image: '/assets/img/home-image--1.jpg',
    breadcrumbs: false,
    tabs: [
      {
        "label": "Popular",
        "content": popularItems
      },
      {
        "label": "Report an issue",
        "content": reportItems
      },
      {
        "label": "Pay for something",
        "content": payItems
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="lbs-row lbs-row--alt2">
    <div class="lbs-row__container">
      <h2>Services</h2>
      <div class="govuk-grid-row lbs-card__wrapper" data-show-more="true" data-show-count="6"
           data-show-more-type="govuk-button lbs-button" data-show-more-position="after" id="home-services">
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Waste and recycling',
              href: '#'
            },
            cardBodyHtml: "Check when to put your rubbish and recycling out for collection, report a missed collection, request new containers and find out more about how your waste collection service works.",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Council Tax',
              href: '#'
            },
            cardBodyHtml: "Information about paying your council tax, your council tax band, applying for discounts and exemptions, and telling us about a house move.",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Housing',
              href: '#'
            },
            cardBodyHtml: "Apply for and bid for social housing or find support for homelessness.",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Jobs and careers',
              href: '#'
            },
            cardBodyHtml: "Apply for jobs, apprenticeships and social care roles and find out more about working at the Council",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Planning and building',
              href: '#'
            },
            cardBodyHtml: "Apply for planning permission, view and comment on applications and information about building control.",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Streets, Transport and Parking',
              href: '#'
            },
            cardBodyHtml: "Apply for or renew a parking permit, read about parking consultations, or report a street cleaning issue.",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Adult Social Care',
              href: '#'
            },
            cardBodyHtml: "This section facilitates you to get information about Care assessments and local services, Support for adults with certain needs and Support to live at home.",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Children, Families and Young peoples',
              href: '#'
            },
            cardBodyHtml: "Services for children, young people and families in Sutton, including information on children’s centres and childcare, supporting disabled children, fostering and child safeguarding.",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Births, Deaths, Marriages',
              href: '#'
            },
            cardBodyHtml: "Register a birth, deaths or stillbirth, and find out about marriages and civil partnerships and citizenship ceremonies.",
            clickable: true,
            bgColour: false
          }) }}
        </div>
      </div>
    </div>
  </div>
  <div class="lbs-row">
    <div class="lbs-row__container">
      <div class="sutton-scene-signup govuk-grid-row">
        <h2 class="govuk-grid-column-one-quarter">
          <img src="/public/assets/img/SuttonSceneLogo.svg" alt="Sutton Scene"/>
        </h2>
        <div class="govuk-grid-column-three-quarters-from-desktop govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body-s">Stay up-to-date with the latest news and events in Sutton by signing up to our
              weekly newsletter</p>
          </div>
          <form class="sutton-scene-signup__form govuk-grid-column-one-half" action="/" method="post">
            <label class="govuk-label govuk-label--l govuk-visually-hidden" for="sutton-scene-signup--home">
              Sign up for Sutton Scene newsletter
            </label>
            <input type="email" name="sutton-scene-signup" class="govuk-input" id="sutton-scene-signup--home"
                   placeholder="Enter your email address"/>
            <button type="submit" class="lbs-button govuk-button">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="lbs-row">
    <div class="lbs-row__container">
      <h2>Latest news</h2>
      <div class="govuk-grid-row lbs-card__wrapper">

        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Example 1',
              href: '#'
            },
            news: true,
            image: '/assets/img/home-image--1.jpg',
            cardBodyHtml: cardCopy,
            clickable: true
          }) }}
        </div>

        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Example 2',
              href: '#'
            },
            news: true,
            image: '/assets/img/home-image--1.jpg',
            cardBodyHtml: cardCopy,
            clickable: true
          }) }}
        </div>

        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Example 2',
              href: '#'
            },
            news: true,
            image: '/assets/img/home-image--1.jpg',
            cardBodyHtml: cardCopy,
            clickable: true
          }) }}
        </div>
    </div>
  </div>
{% endblock %}
