---
scenario: You want to read this article about '2018’s oddest requests from Brits abroad'.
notes: Based on https://www.gov.uk/government/news/strictly-vampires-and-sausages-2018s-oddest-requests-from-brits-abroad
---

{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from '../../../../src/LBS/components/card/macro.njk' import lbsCard %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing home-page' %}

{% extends "_generic.njk" %}

{% block header %}
  {{ lbsHeader({
    search: false
  }) }}
{% endblock %}

{% set popularItems %}
  <ol class="govuk-grid-row lbs-list--no-style lbs-list--grid-list">
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Book visit to the
        recycling centre</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Check your bin collection
        days</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Contact us</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">COVID 19</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">View and comment on
        applications</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Jobs and careers</a></li>
  </ol>
{% endset %}

{% set reportItems %}
  <ol class="govuk-grid-row lbs-list--no-style lbs-list--grid-list">
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report a missed bin
        collection</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report an abandoned
        vehicle</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report a safeguarding
        concern</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report fly-tipping</a>
    </li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report graffiti</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Report footway defects or
        faults</a></li>
  </ol>
{% endset %}

{% set payItems %}
  <ol class="govuk-grid-row lbs-list--no-style lbs-list--grid-list">
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Council tax and business
        rates</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Penalty charge notice
        (PCN)</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Parking permits</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Garden waste
        collections</a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Fixed Penalty notice (FPN)
        Covid </a></li>
    <li class="govuk-grid-column-one-third-from-desktop"><a href="#" class="lbs-link--action">Building control</a></li>
  </ol>
{% endset %}

{% block beforeContent %}
  {{ lbsPageHeader({
    homepage: true,
    image: '/assets/img/home-image--1.jpg',
    breadcrumbs: false,
    tabs: [
      {
        "label": "Popular",
        "content": popularItems
      },
      {
        "label": "Report an issue",
        "content": reportItems
      },
      {
        "label": "Pay for something",
        "content": payItems
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="lbs-row lbs-row--alt2">
    <div class="lbs-row__container">
      <h2>Services</h2>
      <div class="govuk-grid-row" data-show-more="true" data-show-count="3" data-show-more-type="govuk-button lbs-button" data-show-more-position="after">
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Waste and recycling',
              href: '#'
            },
            cardBodyHtml: "Find out your collection day, where to take your old appliances and what to do with your garden waste",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Council Tax',
              href: '#'
            },
            cardBodyHtml: "Paying, discounts and exemptions, what to do if you move",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Planning and building',
              href: '#'
            },
            cardBodyHtml: "Apply for planning permission, see planning applications and read about planning policy",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Jobs and careers',
              href: '#'
            },
            cardBodyHtml: "Find out about council jobs, working in Sutton and getting career help. We welcome applications from local residents",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Streets, Transport and Parking',
              href: '#'
            },
            cardBodyHtml: "Find out about our road and transport responsibilities and how we promote public transport, walking and road safety",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          {{ lbsCard({
            heading: {
              title: 'Housing',
              href: '#'
            },
            cardBodyHtml: "Advice and information for council tenants, homeowners and private renters",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop js__is-hidden">
          {{ lbsCard({
            heading: {
              title: 'Jobs and careers',
              href: '#'
            },
            cardBodyHtml: "Find out about council jobs, working in Sutton and getting career help. We welcome applications from local residents",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop js__is-hidden">
          {{ lbsCard({
            heading: {
              title: 'Streets, Transport and Parking',
              href: '#'
            },
            cardBodyHtml: "Find out about our road and transport responsibilities and how we promote public transport, walking and road safety",
            clickable: true,
            bgColour: false
          }) }}
        </div>
        <div class="govuk-grid-column-one-third-from-desktop js__is-hidden">
          {{ lbsCard({
            heading: {
              title: 'Housing',
              href: '#'
            },
            cardBodyHtml: "Advice and information for council tenants, homeowners and private renters",
            clickable: true,
            bgColour: false
          }) }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
