// Primary Palette
$lbs-green-1: #008D71;
$lbs-red: #CF1643;
$lbs-grey: #757474;

// Secondary Palette
$lbs-green-2: #40A360;
$lbs-blue: #3466AF;
$lbs-teal: #00A3B6;
$lbs-orange: #EC6723;
$lbs-purple: #84328A;
$lbs-yellow: #F9B34A;

// Standard colours
$lbs-black: #000000;
$lbs-white: #ffffff;

// Border radius
$lbs-border-radius: 5px;




