.lbs-page-header {
  @include lbs-background-gradient;
  padding-top: $lbs-margin;

  * {
    //color: $lbs-white;

    &:last-child {
      //margin-bottom: 0;
    }
  }

  .lbs-page-header__row {
    padding: $lbs-margin 0;

    &--light {
      color: $lbs-green-1;
      background: rgba($lbs-white, .9);
    }
  }
}
