{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "../tabs/macro.njk" import lbsTabs %}
{% set overlappingTabs = params.overlappingTabs if params.overlappingTabs else false %}
{% set overlappingTabs = true if params.tabs %}
{% if params.description or params.meta %}
  {% if params.description %}
    {% set content = params.description %}
  {% endif %}
  {% if params.meta %}
    {% set content %}
      <dl>
        {% for item in params.meta %}
          <dt>{{ item.key }}:</dt>
          <dd>{{ item.value }}</dd>
        {% endfor %}
      </dl>
    {% endset %}
  {% endif %}
{% endif %}
<div
  class="lbs-page-header {% if overlappingTabs %}lbs-page-header--overlapping-tabs{% endif %}{% if params.homepage %} lbs-page-header--homepage{% endif %} {% if params.image %} lbs-page-header--image{% endif %}">
  <div class="govuk-width-container">
    {% if params.breadCrumbItems %}
      {{ govukBreadcrumbs({
        items: params.breadCrumbItems
      }) }}
    {% endif %}
    {% if params.homepage %}
      {% include './homepage.njk' %}
    {% else %}
      {% if params.image %}
        <div class="lbs-page-header__content">
          <h1>{{ params.heading }}</h1>
        </div>
      {% else %}
        <h1>{{ params.heading }}</h1>
      {% endif %}
    {% endif %}
    {% if params.image %}
      {% include './image.njk' %}
    {% endif %}
    {% if params.descriptionPosition === 'inside' and content %}
      <div class="lbs-page-header__description">
        {{ content | safe }}
      </div>
    {% endif %}
  </div>
  {% if params.descriptionPosition !== 'inside' and content %}
    <div class="lbs-page-header__row lbs-page-header__row--light">
      <div class="govuk-width-container">
        {{ content | safe }}
      </div>
    </div>
  {% endif %}
</div>
{% if params.tabs %}
  <div class="lbs-row">
    <div class="lbs-row__container">
      {{ lbsTabs({
        id: "pageHeaderTabs",
        overlapPageHeader: true,
        items: params.tabs
      }) }}
    </div>
  </div>
{% endif %}
