{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<nav class="lbs-page-group-list">
  <h2 class="lbs-page-group-list__title">{{ params.heading | default('In this section') }}</h2>
  <ol>
    {% for item in params.linkItems %}
      <li><a href="{{ item.href }}">{{ item.text }}</a></li>
    {% endfor %}
  </ol>
</nav>
