.js__is-hidden {
  .js-enabled & {
    display: none; // Hide completely from screen readers
  }

  .show-hidden & {
    display: block;
  }
}

/* stylelint-disable */

.show-hidden {
  li.js__is-hidden {
    display: list-item;
  }
}
/* stylelint-enable */
