{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from '../../../../src/LBS/components/tabs/macro.njk' import lbsTabs %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing govuk-width-container' %}

{% extends "_generic.njk" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

 <h2>Default</h2>

  {{ lbsTabs({
    id: 'group0',
    items: [
      {
        label: 'Popular',
        content: '11 11 11 11 11 11 11 11'
      },
      {
        label: 'Pay',
        content: '22 22 22 22 22 22 22 22'
      },
      {
        label: 'Report',
        content: '33 33 33 33 33 33 33 33'
      }
    ]
  }) }}

{% endblock %}
