.lbs-image {
  &__wrapper {
    position: relative;
    width: 100%;
    padding-top: 66%;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.lbs-image__wrapper--no-image {
      background: url('../assets/img/news-placeholder-image.jpg') no-repeat center;
      background-size: cover;
    }
  }
}
