ol,
ul {
  @extend .govuk-list;

  ::marker {
    color: $lbs-green-2;
  }
}

ol {
  @extend .govuk-list--number;
}

ul {
  @extend .govuk-list--bullet;
}

.lbs-list--no-style {
  padding: 0;
  list-style: none;
}

.lbs-list--grid-list {
  li {
    margin-bottom: $lbs-margin * 1.5;
  }
}
