---
scenario: Button types in situ.
notes: These buttons are powered by GOVUK Frontend and 'enhanced' by LBS classes to effect style changes only
---

{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing govuk-width-container' %}

{% extends "_generic.njk" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  <h2>Start button</h2>
  {{ govukButton({
    text: "Start button",
    classes: "lbs-button",
    isStartButton: true
  }) }}

  {{ govukButton({
    text: "Start link",
    classes: "lbs-button",
    href: "#",
    isStartButton: true
  }) }}

  <h2>Primary button</h2>
  {{ govukButton({
    text: "Primary button",
    classes: "lbs-button",
    isStartButton: false
  }) }}

  {{ govukButton({
    text: "Primary link",
    classes: "lbs-button",
    href: "#",
    isStartButton: false
  }) }}

  <h2>Secondary button</h2>
  {{ govukButton({
    text: "Secondary button",
    classes: "lbs-button lbs-button--secondary",
    isStartButton: false
  }) }}

  {{ govukButton({
    text: "Secondary link",
    classes: "lbs-button lbs-button--secondary",
    href: "#"
  }) }}

  <h2>Tertiary button</h2>
  {{ govukButton({
    text: "Tertiary button",
    classes: "lbs-button lbs-button--tertiary",
    isStartButton: false
  }) }}

  {{ govukButton({
    text: "Tertiary link",
    classes: "lbs-button lbs-button--tertiary",
    href: "#"
  }) }}
{% endblock %}
