//$page-header-border-colour: rgba($lbs-green-2, .4);
$page-header-border-colour: adjust-color($lbs-green-1, $lightness: 2.5%);

.lbs-page-header {
  @include lbs-background-gradient;
  display: flow-root;

  h1 {
    margin: $lbs-margin * 2 0;
    @include govuk-media-query($until: desktop) {
      margin: $lbs-margin 0;
      font-size: 1.5rem;
    }
  }

  *:not(input) {
    color: $lbs-white;
  }

  .govuk-breadcrumbs__list-item {
    a {
      color: $lbs-white;

      &:focus {
        color: initial;
      }
    }

    &:before {
      border-color: rgba($lbs-white, .5);
    }
  }

  &--overlapping-tabs {
    .govuk-width-container {
      @include govuk-media-query($from: desktop) {
        padding-bottom: $lbs-tab-overlap;
      }
    }
  }

  .lbs-page-header__description {
    margin-bottom: $lbs-margin;
    @include govuk-media-query($from: desktop) {
      font-size: 1.15rem;
    }
  }

  .lbs-page-header__row {
    position: relative;
    z-index: 2;
    padding: $lbs-margin 0;

    &--light {
      background: rgba($lbs-white, .9);

      * {
        color: $lbs-green-1;
      }
    }

    dl {
      display: table-row;

      dt {
        font-weight: 700;
      }

      dt,
      dd {
        display: table-cell;
        padding-right: $lbs-margin / 2;
      }
    }
  }

  &__image-container {
    @include lbs-image-container;
  }

  .lbs-page-header__image {
    @include govuk-media-query($from: desktop) {
      position: relative;
      z-index: 2;
      top: 50%;
      right: -10%;
      width: 25rem;
      height: 25rem;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      border-radius: 50%;
      background: $lbs-green-1;
      background-size: contain;

      .lbs-page-header--homepage & {
        -webkit-transform: translateY(-25%);
            -ms-transform: translateY(-25%);
                transform: translateY(-25%);
      }
    }
    @include govuk-media-query($from: wide) {
      right: 0;
      width: 30rem;
      height: 30rem;
    }
  }

  &--homepage {
    .govuk-width-container {
      display: flow-root;

      @include govuk-media-query($until: desktop) {
        margin-bottom: $lbs-margin * 2;

        h1 {
          font-size: 2rem;
        }
      }
    }
  }

  &--homepage,
  &--image {
    .govuk-width-container {
      display: flow-root;

      .govuk-breadcrumbs {
        margin-bottom: 0;
      }
    }

    @include govuk-media-query($from: desktop) {
      //overflow: hidden;

      > .govuk-width-container {
        position: relative;
        min-height: $lbs-margin * 10;
      }

      .lbs-page-header__content {
        position: relative;
        z-index: 3;
        max-width: 50%;
        margin: $lbs-margin * 2 0;

        h1 {
          font-size: 2.5rem;
          text-shadow: 1px 1px 3px adjust-color($lbs-green-1, $lightness: -5%);
          @include govuk-media-query($until: desktop) {
            margin: $lbs-margin * 1.5 0;
          }
        }
      }
    }

    .lbs-search {
      input,
      button {
        border-width: 2px;
        border-color: rgba($lbs-green-1, 1);
        box-shadow: 0 0 0 4px $page-header-border-colour;

        &:focus {
          border-color: $lbs-black;
          box-shadow: 0 0 0 4px rgba($lbs-yellow, 1);
        }
      }
    }

    .lbs-page-header__image-container {
      top: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;

      @include govuk-media-query($from: wide) {
        &:before {
          content: "";
          display: block;
          position: absolute;
          z-index: 0;
          top: 30%;
          left: 0;
          width: 30rem;
          height: 30rem;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          border-radius: 50%;
          background: rgba(darken($lbs-green-1, 5%), .3);
        }
      }

      @include govuk-media-query($from: desktop) {
        &:after {
          content: "";
          display: block;
          position: absolute;
          z-index: 0;
          top: -15%;
          right: 0;
          width: 25rem;
          height: 25rem;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          border-radius: 50%;
          background: rgba($lbs-white, .1);
        }
      }
    }

    .lbs-page-header__image {
      @include govuk-media-query($from: desktop) {
        //transform: translateY(-25%);
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -25%);
            -ms-transform: translate(-50%, -25%);
                transform: translate(-50%, -25%);
      }
    }
  }
}
