$menu-main-bg-colour: rgba($lbs-green-1, .1);
$menu-main-text-colour: $lbs-green-1;

.gem-c-layout-super-navigation-header__width-container {
  width: 100%;

  .govuk-grid-row {
    width: 100%;
  }
}

.gem-c-layout-super-navigation-header__content {
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
  @include govuk-media-query($from: desktop) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 70%;
        flex: 0 0 70%;
    -ms-flex-pack: end;
        justify-content: flex-end;
    //display: block;
    //float: right;
  }

  *[hidden] {
    display: none;
  }
}

// Navigation Top Toggle
.gem-c-layout-super-navigation-header__navigation-toggle-wrapper {
  position: relative;
}

@import "scss/navigation-items";
@import "scss/toggle-button";
@import "scss/search-and-popular";
//@import "scss/second-items";

.gem-c-layout-super-navigation-header__navigation-dropdown-menu {
  @include govuk-media-query($from: desktop) {
    position: absolute;
    right: 0;
    left: 0;
    background: $menu-main-bg-colour;
  }
}

.gem-c-layout-super-navigation-header__menu-description {
  display: none;
  @include govuk-media-query($from: desktop) {
    display: block;
    padding: 40px 0;
  }
}

.gem-c-layout-super-navigation-header__dropdown-list-item {
  box-sizing: border-box;
  position: relative;
  padding: 0 0 20px;
}

@media (max-width: 48.0525em) {
  .gem-c-layout-super-navigation-header__width-container {
    margin: 0;
  }
}
