---
scenario: You want to read this article about '2018’s oddest requests from Brits abroad'.
notes: Based on https://www.gov.uk/government/news/strictly-vampires-and-sausages-2018s-oddest-requests-from-brits-abroad
---

{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing govuk-width-container' %}

{% extends "_generic.njk" %}

{% block beforeContent %}
  {{ lbsPageHeader({
    heading: 'Children\'s centre programmes',
    breadCrumbItems: [
      {
        text: 'Home',
        href: '/'
      },
      {
        text: 'Education and schools',
        href: '#'
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2>Downloads</h2>

    <ol class="lbs-downloads">
      <li class="lbs-downloads--item">
        <a href="#" class="lbs-downloads--link">Activity Programme Dec 2020</a>
        <ul class="lbs-downloads--meta">
          <li><span class="govuk-visually-hidden">Document format:</span> <abbr title="Portable Document Format">PDF</abbr></li>
          <li><span class="govuk-visually-hidden">Document size:</span> 732Kb</li>
          <li><a href="#" class="">Download</a> <span class="govuk-visually-hidden">Activity Programme Dec 2020</span></li>
        </ul>
      </li>
      <li class="lbs-downloads--item">
        <a href="#" class="lbs-downloads--link">Activity Programme Dec 2020</a>
        <ul class="lbs-downloads--meta">
          <li><span class="govuk-visually-hidden">Document format:</span> <abbr title="Portable Document Format">PDF</abbr></li>
          <li><span class="govuk-visually-hidden">Document size:</span> 732Kb</li>
          <li><a href="#" class="">Download</a> <span class="govuk-visually-hidden">Activity Programme Dec 2020</span></li>
        </ul>
      </li>
      <li class="lbs-downloads--item">
        <a href="#" class="lbs-downloads--link">Activity Programme Dec 2020</a>
        <ul class="lbs-downloads--meta">
          <li><span class="govuk-visually-hidden">Document format:</span> <abbr title="Portable Document Format">PDF</abbr></li>
          <li><span class="govuk-visually-hidden">Document size:</span> 732Kb</li>
          <li><a href="#" class="">Download</a> <span class="govuk-visually-hidden">Activity Programme Dec 2020</span></li>
        </ul>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
