{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing govuk-width-container' %}

{% extends "_generic.njk" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  <h2>Default</h2>

  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: "The date your passport was issued must be in the past",
        href: "#passport-issued-day"
      },
      {
        text: "Enter a postcode, like AA1 1AA",
        href: "#postcode-input"
      }
    ]
  }) }}

{% endblock %}
