// Primary Palette
$lbs-green-1: #00856a; //Actual colour is #008D71 - but this only allows for a contrast ration of 4.15:1 (below acceptable WAI level 4.5:1 needed) - this new value is off-brand but gives ratio of 4.6:1
$lbs-red: #cf1643;
$lbs-grey: #757474;

// Secondary Palette
$lbs-green-2: #40a360;
$lbs-blue: #3466af;
$lbs-teal: #00a3b6;
$lbs-orange: #ec6723;
$lbs-purple: #84328a;
$lbs-yellow: #f9b34a;

// Standard colours
$lbs-black: #000000;
$lbs-white: #ffffff;
