//LBS assets location
$lbs-assets-path: '../../assets/' !default;

// Border radius
$lbs-border-radius: 5px;

// Margins
$lbs-margin: 1rem;

// Box shadow
$lbs-shadow: 0 0 .25rem .05rem rgba($lbs-black, .1);
$lbs-shadow--l: 0 0 .5rem .25rem rgba($lbs-black, .1);
$lbs-shadow--xs: 0 0 .25rem .05rem rgba($lbs-black, .1);

$lbs-tab-overlap: 4.5rem;
