{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing govuk-width-container' %}

{% extends "_generic.njk" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

 <h2>Default</h2>

  {{ govukTable({
    caption: "Dates and amounts",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    head: [
      {
        text: "Date"
      },
      {
        text: "Amount"
      }
    ],
    rows: [
      [
        {
          text: "First 6 weeks"
        },
        {
          text: "£109.80 per week"
        }
      ],
      [
        {
          text: "Next 33 weeks"
        },
        {
          text: "£109.80 per week"
        }
      ],
      [
        {
          text: "Total estimated pay"
        },
        {
          text: "£4,282.20"
        }
      ]
    ]
  }) }}

  <h2>Tables with numbers</h2>

  {% from "govuk/components/table/macro.njk" import govukTable %}

  {{ govukTable({
    caption: "Months and rates",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    head: [
      {
        text: "Month you apply"
      },
      {
        text: "Rate for bicycles",
        format: "numeric"
      },
      {
        text: "Rate for vehicles",
        format: "numeric"
      }
    ],
    rows: [
      [
        {
          text: "January"
        },
        {
          text: "£85",
          format: "numeric"
        },
        {
          text: "£95",
          format: "numeric"
        }
      ],
      [
        {
          text: "February"
        },
        {
          text: "£75",
          format: "numeric"
        },
        {
          text: "£55",
          format: "numeric"
        }
      ],
      [
        {
          text: "March"
        },
        {
          text: "£165",
          format: "numeric"
        },
        {
          text: "£125",
          format: "numeric"
        }
      ]
    ]
  }) }}

  <h2>Tables with no GOVUK classes (default styles)</h2>
  <p>This is necessary due to the import of masses of data from one web platform to another in which no classes are present.</p>

  <table>
    <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Project Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Sutton Library</td>
      <td>Installation of energy efficient LED lighting at Sutton Central Library</td>
    </tr>
    <tr>
      <td>Boroughwide</td>
      <td>Purchase and installation of 25 big belly bins and 100 bin sensors.</td>
    </tr>
    <tr>
      <td>Carshalton</td>
      <td>Providing smart waste management in 3 apartment buildings (Denmark Gardens, Mill Green and Culvers Retreat)</td>
    </tr>
    <tr>
      <td>Sutton</td>
      <td>Library of Things is a collection of objects loaned to residents for a small charge. Objects often include kitchen appliances, tools, gardening equipment and seeds, electronics, toys and games, art, science kits, craft supplies, musical instruments, and recreational equipment.</td>
    </tr>
    <tr>
      <td>Ridge Road Allotments</td>
      <td>To provide a community hut and notice boards for the members of the Ridge Road Allotments to allow for group meetings and a resting place for members.</td>
    </tr>
    <tr>
      <td>Rose Hill Park West</td>
      <td>Refurbishing fences and toilets</td>
    </tr>
    <tr>
      <td>Manor Park</td>
      <td>Placing lids on park bins</td>
    </tr>
    <tr>
      <td>Times Square Car Park</td>
      <td>Provide a wildlife corridor along the Lenham Road side of the multi storey car park</td>
    </tr>
    <tr>
      <td>Rose Hill</td>
      <td>Cleaning the milestone on the Rose Hill road, paving the area around it with cobbled blocks, sanding and painting the railings around it and installing a lectern giving a brief history including graphics.</td>
    </tr>
    <tr>
      <td>Cheam Paddock Allotments</td>
      <td>Installing replacement railings</td>
    </tr>
    <tr>
      <td>Cheam Croquet &amp; Bowls Club</td>
      <td>Installing black steel fencing</td>
    </tr>
    <tr>
      <td>Cheam Recreational Grounds</td>
      <td>Installing blue steel fencing and repainting existing fencing</td>
    </tr>
    <tr>
      <td>Victor Seymour School</td>
      <td>Rain garden with geocellular storage</td>
    </tr>
    <tr>
      <td>Watercress Park</td>
      <td>Refurbishing boundary fences along River Wandle adjacent to Watercress Park</td>
    </tr>
    <tr>
      <td>Wandle Valley School</td>
      <td>Rain Garden and associated drainage works</td>
    </tr>
    <tr>
      <td>Poulter Park</td>
      <td>Replacing wooden fencing</td>
    </tr>
    <tr>
      <td>Carshalton High School for Girls</td>
      <td>Installing sustainable drainage system</td>
    </tr>
    <tr>
      <td>Grove Park</td>
      <td>Refurbishing large park gates</td>
    </tr>
    <tr>
      <td>Carshalton War Memorial</td>
      <td>Refurbishing fences</td>
    </tr>
    <tr>
      <td>Carshalton Park</td>
      <td>Improvements to fences, cycle racks, playground equipment and fences</td>
    </tr>
    <tr>
      <td>Oaks Park</td>
      <td>Repairing car park surface and replacing paths</td>
    </tr>
    <tr>
      <td>Hillcrest Community Hall</td>
      <td>Refurbishment of toilets</td>
    </tr>
    <tr>
      <td>Holy Trinity School</td>
      <td>Rain garden (excluding geocellular crates) and associated drainage works</td>
    </tr>
    <tr>
      <td>Beddington Village Hall</td>
      <td>Repair village hall roof</td>
    </tr>
    </tbody>
  </table>

{% endblock %}
