---
scenario: You want to read this article about '2018’s oddest requests from Brits abroad'.
notes: Based on https://www.gov.uk/government/news/strictly-vampires-and-sausages-2018s-oddest-requests-from-brits-abroad
---

{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% extends "_generic.njk" %}

{% block beforeContent %}
  {{ lbsPageHeader({
    heading: 'Example page'
  }) }}
{% endblock %}

{% block content %}
 <p>asd asdjasd aso asdo </p>
{% endblock %}
