---
scenario: You want to read this article about '2018’s oddest requests from Brits abroad'.
notes: Based on https://www.gov.uk/government/news/strictly-vampires-and-sausages-2018s-oddest-requests-from-brits-abroad
---
{% extends "_generic.njk" %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
 <p>asd asdjasd aso asdo </p>
{% endblock %}
