---
scenario: You want to read this article about '2018’s oddest requests from Brits abroad'.
notes: Based on https://www.gov.uk/government/news/strictly-vampires-and-sausages-2018s-oddest-requests-from-brits-abroad
---

{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from '../../../../src/LBS/components/card/macro.njk' import lbsCard %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing home-page' %}

{% extends "_generic.njk" %}

{% block header %}
  {{ lbsHeader({
    search: false,
    phaseBanner: true
  }) }}
{% endblock %}

{% set popularCard = false %}
{% set popularCardAltBg = false %}

{% block beforeContent %}
  {{ lbsPageHeader({
    heading: "Budget 2022 / 23",
    descriptionPosition: "inside",
    breadCrumbItems: [
      {
        text: 'Home',
        href: '/'
      }
    ]  }) }}
{% endblock %}

{% block content %}
<div class="lbs-row lbs-row--alt2">
  <div class="lbs-row__container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
{#        <h2 class="govuk-heading-m">Our budget 2022/23</h2>#}
        <p class="govuk-body-lead">From adoption to zebra crossings, your council tax helps us to deliver hundreds of services in Sutton.</p>
        <p class="">It's all about protecting your vital services while supporting Sutton's recovery.
        </p>
      </div>
      <div class="govuk-grid-column-one-half" style="position: relative; height: 0; padding-bottom: 28.12%;">
        <iframe style=" position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                src="https://www.youtube.com/embed/nPW49lt2sCw" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="lbs-row ">
  <div class="lbs-row__container">
    <h2 class="lbs-heading--decorative">Here are some of the stories, numbers and support services in Sutton.</h2>
    <div class="govuk-grid-row lbs-card__wrapper">

      <div class="govuk-grid-column-one-third-from-desktop">
        {{ lbsCard({
          heading: {
            title: 'Read the stories behind our budget',
            href: '#'
          },
          news: false,
          image: '/public/assets/images/1.jpg',
          cardBodyHtml: cardCopy,
          clickable: true
        }) }}
      </div>

      <div class="govuk-grid-column-one-third-from-desktop">
        {{ lbsCard({
          heading: {
            title: 'Find out more about our budget',
            href: '#'
          },
          news: false,
          image: '/public/assets/images/2.jpg',
          cardBodyHtml: "",
          clickable: true
        }) }}
      </div>

      <div class="govuk-grid-column-one-third-from-desktop">
        {{ lbsCard({
          heading: {
            title: 'Get the support you need',
            href: '#'
          },
          news: false,
          image: '/public/assets/images/3.jpg',
          cardBodyHtml: cardCopy,
          clickable: true
        }) }}
      </div>
    </div>
  </div>
  {% endblock %}
