.lbs-search {
  display: flex;
  &__input {
    //@extend .govuk-input;
    padding: $lbs-margin/2;
    border-radius: $lbs-margin*2 0 0 $lbs-margin*2;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px $govuk-focus-colour;
    }
    @include govuk-media-query($from: tablet) {
      border-width: 2px;
      border-color: rgba($lbs-grey, 0.5);
      padding: $lbs-margin/2;
    }
  }
  &__btn {
    background: $lbs-green-1;
    border-radius: 0 $lbs-margin*2 $lbs-margin*2 0;
  }
}