<form id="lbs-header__search-form" action="/" method="post" autocomplete="off">
    <input type="text" name="search" class="input" id="lbs__searchBox" placeholder="Search">
    <button type="submit" class="search" id="search-btn"></button>
</form>
<button class="lbs_header__search__close-btn govuk-header__menu-button govuk-js-header-toggle"
        aria-controls="lbs-header__search-block" id="lbs_header__search__close-btn">
    Close
</button>