$govuk-focus-colour: $lbs-yellow;
$button-shadow-size: 2;
$govuk-button-colour: $lbs-green-1;
$govuk-button-text-colour: $lbs-blue;
$govuk-button-shadow-colour: $lbs-green-1;
$govuk-button-hover-colour: darken($lbs-green-1, 10);

////$govuk-font-family: arial, sans-serif;
$govuk-global-styles: true; // Applies styles to entire site eg. p and ul

$govuk-page-width: 1100px; // Taken from current sutton.gov.uk site
//
//$govuk-text-colour: $lbs-black;
$govuk-link-colour: $lbs-green-1;
$govuk-link-visited-colour: darken($lbs-green-1, 20%);

////$govuk-input-border-colour: $lbs-blue;
////$govuk-border-width-form-element: $lbs-grey;
////$govuk-border-colour: $lbs-blue-2;
//
//$govuk-secondary-button-colour: $lbs-grey;
//$govuk-secondary-button-text-colour: $lbs-black;
//$govuk-secondary-button-hover-colour: darken($lbs-grey, 20);
//
//$govuk-warning-button-colour: $lbs-grey;
//$govuk-warning-button-text-colour: $lbs-black;
//$govuk-warning-button-hover-colour: darken($lbs-grey, 20);
