.lbs-card {
  box-sizing: content-box;
  margin-bottom: $lbs-margin;
  padding: $lbs-margin;
  border-bottom: 4px solid rgba($lbs-green-2, .5);
  border-radius: $lbs-border-radius;
  background-color: $lbs-white;
  box-shadow: $lbs-shadow;

  @include govuk-media-query($until: desktop) {
    margin-bottom: $lbs-margin / 2;
  }

  *:last-child {
    margin-bottom: 0;
  }

  &--alt {
    background-color: rgba($lbs-green-2, .075);
    box-shadow: none;
    //box-shadow: $lbs-shadow--xs;
  }

  &--image {
    &:not(.lbs-card--news) {
      border-bottom-color: rgba($lbs-green-1, .5);

      h2 {
        a {
          display: flex;
          color: $lbs-green-1;
          align-items: center;
          justify-content: space-between;

          &:after {
            content: "";
            display: inline-block;
            width: 1rem;
            height: 1.25rem;
            margin-left: .25rem;
            @include background-svg('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 7 15"><defs><path d="M9.9995 19c-.226 0-.453-.076-.64-.232-.424-.353-.481-.984-.128-1.408l4.476-5.371-4.315-5.362c-.346-.43-.278-1.06.152-1.406.431-.346 1.06-.278 1.407.152l4.828 6c.298.371.294.901-.011 1.267l-5 6c-.198.237-.482.36-.769.36" id="a"/></defs><use fill="' + $lbs-green-1 + '" fill-rule="nonzero" xlink:href="#a" transform="translate(-9 -4.5)"/></svg>');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            vertical-align: middle;
          }
        }
      }
    }
  }

  &--news,
  &--image {
    padding: 0;
    overflow: hidden;
    border-color: rgba($lbs-yellow, .75);

    .lbs-card__container {
      padding: $lbs-margin;
    }

    img {
      max-width: 100%;
    }
  }

  &--popular-item {
    display: block;
    border: none;
    //box-shadow: $lbs-shadow--xs;

    &.lbs-card--alt {
      //border-bottom: 4px solid rgba($lbs-green-1, .4);
      @include lbs-background-gradient(.075);
      //color: darken($lbs-green-1, 10%);
      //background: rgba($lbs-grey, .05);
    }
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      //transform: scale(1.02);
      border-bottom-color: rgba($lbs-green-2, 1);
      box-shadow: $lbs-shadow--l;

      a:not(.lbs-button) {
        @extend .govuk-link:hover;
        color: $lbs-green-1;
      }
    }
  }

  &--featured {
    @include lbs-background-gradient;
    display: flex;
    position: relative;
    overflow: hidden;
    border: none;

    &--alt {
      color: $lbs-black;
      background: rgba($lbs-grey, .2);

      * {
        color: $lbs-black;
      }
    }

    &:hover {
      a:not(.lbs-button) {
        color: $lbs-white;
      }
    }

    h2,
    h3,
    h4 {
      a {
        color: $lbs-white;
      }
    }

    * {
      color: $lbs-white;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .lbs-card__container {
      z-index: 2;

      @include govuk-media-query($from: desktop) {
        max-width: 50%;
        padding: $lbs-margin;
      }
    }

    .lbs-card__image-container {
      @include lbs-image-container;

      .lbs-card__image {

        @include govuk-media-query($from: desktop) {
          position: relative;
          z-index: 2;
          top: 50%;
          right: -10%;
          width: 25rem;
          height: 25rem;
          transform: translateY(-50%);
          border-radius: 50% 0 0 50%;
          background: $lbs-green-1;
          background-size: contain;
        }

        @include govuk-media-query($from: wide) {
          right: 0;
          width: 30rem;
          height: 30rem;
        }
      }
    }

    &--video {
      .lbs-card__container {
        @extend .govuk-grid-column-one-half;
      }

      .lbs-card__video-container {
        @extend .govuk-grid-column-one-half;

        .lbs-card__video {
          position: relative;
          height: 0;
          padding-bottom: 56.25%;

          iframe {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        @include govuk-media-query($from: wide) {
          &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 0;
            top: 20%;
            left: 45%;
            width: 35rem;
            height: 35rem;
            transform: translateY(-50%);
            border-radius: 50%;
            background: rgba(darken($lbs-green-1, 5%), .3);
          }
        }

        @include govuk-media-query($from: desktop) {
          &:after {
            content: "";
            display: block;
            position: absolute;
            z-index: 0;
            top: -15%;
            right: -10%;
            width: 25rem;
            height: 25rem;
            transform: translateY(-50%);
            border-radius: 50%;
            background: rgba($lbs-white, .15);
          }
        }
      }
    }
  }

  &__date {
    @extend .govuk-\!-font-size-14;
    color: $lbs-grey;

    &:before {
      content: "";
      display: inline-block;
      width: $lbs-margin * 1.25;
      height: $lbs-margin * 1.25;
      margin-right: $lbs-margin / 4;
      @include background-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M85.1 18.5H77V14c0-1.9-1.6-3.5-3.5-3.5h-5c-1.9 0-3.5 1.6-3.5 3.5v4.5H35.3V14c0-1.9-1.6-3.5-3.5-3.5h-5c-1.9 0-3.5 1.6-3.5 3.5v4.5h-8.5c-3.4 0-6.2 2.8-6.2 6.2v55.9c0 3.4 2.8 6.2 6.2 6.2h70.3c3.4 0 6.2-2.8 6.2-6.2V24.7c0-3.4-2.8-6.2-6.2-6.2zm-16.4-4.2h4.6v11h-4.6v-11zm-41.7 0h4.6v11H27v-11zm-12.1 7.9h8.5v3.3c0 1.9 1.6 3.5 3.5 3.5h5c1.9 0 3.5-1.6 3.5-3.5v-3.3H65v3.3c0 1.9 1.6 3.5 3.5 3.5h5c1.9 0 3.5-1.6 3.5-3.5v-3.3h8.2c1.4 0 2.5 1.1 2.5 2.5v10H12.4v-10c0-1.4 1.1-2.5 2.5-2.5zm70.2 60.9H14.9c-1.4 0-2.5-1.1-2.5-2.5V38.4h75.2v42.2c0 1.4-1.1 2.5-2.5 2.5zM28.7 48.5c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c1-.1 1.8.8 1.8 1.8zm17.3 0c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c.9-.1 1.8.8 1.8 1.8zm17.2 0c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c1-.1 1.8.8 1.8 1.8zm17.3 0c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c1-.1 1.8.8 1.8 1.8zM28.7 60.8c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c1 0 1.8.8 1.8 1.8zm17.3 0c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c.9 0 1.8.8 1.8 1.8zm17.2 0c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c1 0 1.8.8 1.8 1.8zm17.3 0c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c1 0 1.8.8 1.8 1.8zM28.7 73.2c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c1-.1 1.8.7 1.8 1.8zm17.3 0c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c.9-.1 1.8.7 1.8 1.8zm17.2 0c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c1-.1 1.8.7 1.8 1.8zm17.3 0c0 1-.8 1.8-1.8 1.8h-6c-1 0-1.8-.8-1.8-1.8s.8-1.8 1.8-1.8h6c1-.1 1.8.7 1.8 1.8z"/></svg>');
      opacity: .5;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      vertical-align: sub;
    }
  }

  & > h2,
  & > h3,
  & > h4,
  & > h5 {
    color: $lbs-green-1;

    a {
      display: flex;
      color: $lbs-green-1;
      align-items: center;
      justify-content: space-between;

      &:after {
        content: "";
        display: inline-block;
        width: $lbs-margin;
        height: $lbs-margin * 1.25;
        margin-left: $lbs-margin / 4;
        @include background-svg('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 7 15"><defs><path d="M9.9995 19c-.226 0-.453-.076-.64-.232-.424-.353-.481-.984-.128-1.408l4.476-5.371-4.315-5.362c-.346-.43-.278-1.06.152-1.406.431-.346 1.06-.278 1.407.152l4.828 6c.298.371.294.901-.011 1.267l-5 6c-.198.237-.482.36-.769.36" id="a"/></defs><use fill="' + $lbs-green-1 + '" fill-rule="nonzero" xlink:href="#a" transform="translate(-9 -4.5)"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        vertical-align: middle;
      }

      &[rel="external"] {
        &:after {
          content: "";
          display: inline-block;
          width: $lbs-margin;
          height: $lbs-margin * 1.25;
          margin-left: $lbs-margin / 4;
          color: $lbs-black;
          @include background-svg('<svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6M15 3h6v6M10 14L21 3"/></svg>');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          vertical-align: middle;
        }
      }
    }
  }

  &--contact {
    border-bottom-color: rgba($lbs-green-2, .75);

    h2,
    h3,
    h4 {
      @extend .lbs-heading--decorative;
      @extend .govuk-heading-s;
      //color: $lbs-black;
    }

    .lbs-card__content {
      .govuk-summary-list {
        &:last-of-type {
          margin: 0;
        }
      }

      .govuk-summary-list__key {
        font-weight: 700;
      }
    }

    &.lbs-card--alt {
      @include lbs-background-gradient--grey(.15);
      //background: rgba($lbs-grey, .1);
    }
  }

  &--naked {
    padding: unset;
    border: unset;
    box-shadow: none;

    h2 a {
      justify-content: flex-start;
    }

    &:hover {
      box-shadow: unset;
    }
  }

  .lbs-card__content {
    * {
      @include govuk-font($size: 16);
    }
  }

  .show-more-link {
    color: $lbs-green-1;
    cursor: pointer;
  }

  &.lbs-card--popular-item {
    margin-bottom: $lbs-margin / 2;
  }

  &--with-icon {

  }
}
