{% set headingLevel = params.heading.headingLevel if params.heading.headingLevel else 2 %}
{% set linkLimit = params.linkLimit if params.linkLimit else 3 %}
{% if params.popularItem %}
<a href="{{ params.heading.href }}"
   class="lbs-card lbs-link--action {% if params.bgColour %}lbs-card--alt{% endif %} {% if params.clickable %}lbs-card--clickable{% endif %}{% if params.popularItem %} lbs-card--popular-item lbs-card--clickable{% endif %}">
  {{ params.heading.title }}
</a>
{% else %}
<div
  class="lbs-card {% if params.bgColour %}lbs-card--alt{% endif %} {% if params.featureCard %}lbs-card--featured{% endif %} {% if params.news %}lbs-card--news {% endif %}{% if params.image and not params.featureCard %}lbs-card--image {% endif %}{% if params.video and params.featureCard%}lbs-card--featured--video {% endif %}{% if params.naked %} lbs-card--naked{% endif %} {% if params.clickable %}lbs-card--clickable{% endif %} {% if params.popularItem %}lbs-card--popular-item{% endif %} {% if params.contact %}lbs-card--contact{% endif %}">
  {% if params.featureCard %}
  <div class="lbs-card__container">
    {% endif %}
    {% if params.image and params.featureCard !== true %}
    <div class="lbs-image__wrapper">
      <img src="{{ params.image }}" alt="Description of the image would go here"/>
    </div>
    {% endif %}
    {% if params.news or params.image and not params.featureCard %}
    <div class="lbs-card__container">
    {% endif %}
    {% if params.news %}
      <div class="lbs-card__date">30 October 2021</div>
    {% endif %}
      <h{{ headingLevel }} class="govuk-heading-m">
        {% if params.heading.href %}
          <a href="{{ params.heading.href }}" {% if params.heading.externalLink %}rel="external"{% endif %}>
            {{ params.heading.title }}
          </a>
        {% else %}
          {{ params.heading.title }}
        {% endif %}
      </h{{ headingLevel }}>
      {%- if params.cardBodyHtml %}
        <div class="lbs-card__content">
          <p>{{ params.cardBodyHtml | safe }}</p>
        </div>
      {%- endif %}
      {%- if params.linkItems %}
        <ul>
          {% for item in params.linkItems %}
            {% if loop.index <= linkLimit or params.showMore %}
              <li {% if loop.index > linkLimit %}class="js__is-hidden"{% endif %}><a
                  href="{{ item.href }}">{{ item.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {%- endif %}
      {% if params.news or params.featureCard or params.image %}
    </div>
    {% endif %}
    {% if params.featureCard and params.image %}
      <div class="lbs-card__image-container">
        <div class="lbs-card__image"
             style="background: url({{ params.image }}) no-repeat center; background-size: cover;">
          <!-- Container for the background image -->
        </div>
      </div>
    {% endif %}
    {% if params.featureCard and params.video %}
      <div class="lbs-card__video-container">
        <div class="lbs-card__video">
          <iframe
            src="{{ params.video }}" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    {% endif %}
  </div>
  {% endif %}
