{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/panel/macro.njk' import govukPanel %}
{% from '../../../../src/LBS/components/page-header/macro.njk' import lbsPageHeader %}

{% set mainClasses = 'govuk-main-wrapper--auto-spacing govuk-width-container' %}

{% extends "_generic.njk" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

 <h2>Default panel</h2>

  {{ govukPanel({
    titleText: "Application complete",
    html: "Your reference number<br><strong>HDJ2123F</strong>"
  }) }}

{% endblock %}
