.gem-c-layout-super-navigation-header__search-toggle-button.gem-c-layout-super-navigation-header__open-button:focus:not(:focus-visible) {
  border-bottom-color: rgba($lbs-grey, .1);
  color: rgba($lbs-grey, .1);
  background: rgba($lbs-grey, .1);
}
