$headerheight: 66px;

.gem-c-layout-super-navigation-header__navigation-top-toggle-button {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  top: 0;
  right: $headerheight;
  //height: 50px;
  height: $headerheight;
  margin: 0;
  padding: 0;
  border: 0;
  color: $lbs-white;
  background: transparent;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
  //text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: .1em;
  cursor: pointer;

  &:hover {
    text-decoration-skip-ink: none;
    text-decoration-skip: none;
    cursor: pointer;
  }

  &:focus {
    outline: 3px solid transparent;
    color: $lbs-black;
    background-color: $lbs-yellow;
    box-shadow: 0 -2px $lbs-yellow, 0 4px $lbs-black;
    text-decoration: none;

    .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner {
      //border-color: $lbs-grey;
      color: $lbs-black;
    }
  }

  &:active {
    color: #0b0c0c;
  }

  &:not(:hover):not(:active) {
    text-decoration: none;
  }

  &.gem-c-layout-super-navigation-header__open-button {
    color: $lbs-white;
    background: rgba($lbs-grey, .1);

    .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner,
    &.gem-c-layout-super-navigation-header__navigation-second-toggle-button {
      &:before {
        transform: translateY(5%) rotate(225deg) scale(1);
      }
    }
  }

  .gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border-right: 1px solid $lbs-white;
    border-left: 1px solid $lbs-white;
    //border-color: $lbs-green-2;
    color: $lbs-green-1;

    &:before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 8px 0 2px;
      transform: translateY(-35%) rotate(45deg) scale(1);
      border-right: 2px solid $lbs-green-1;
      border-bottom: 2px solid $lbs-green-1;
      vertical-align: middle;
    }
  }
}

.gem-c-layout-super-navigation-header__navigation-second-toggle-button {
  border: 0;
  color: $lbs-black;
  background: none;

  &:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 8px 0 2px;
    transform: translateY(-35%) rotate(45deg) scale(1);
    border-right: 2px solid $lbs-green-1;
    border-bottom: 2px solid $lbs-green-1;
    vertical-align: middle;
  }

  &:focus {
    //&:not(:focus-visible) {
    //  background: none;
    //}
  }

  &:hover {
    &:after {
      background: transparent;
    }
  }

  &.gem-c-layout-super-navigation-header__open-button {
    &:before {
      transform: translateY(5%) rotate(225deg) scale(1);
    }
  }
}

.gem-c-layout-super-navigation-header__search-toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  width: $headerheight;
  height: $headerheight;
  padding: 15px;
  border: 0;
  color: $lbs-green-1;
  background: $lbs-white;
  //color: $lbs-white;
  //background: $lbs-green-1;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
  cursor: pointer;

  @include govuk-media-query($from: desktop) {
    position: relative;
    //border-bottom: 1px solid #003078;
    border-left: none;
    //background: rgba($lbs-green-2, .1);
  }

  &.gem-c-layout-super-navigation-header__open-button {
    color: $lbs-green-1;
    background: rgba($lbs-grey, .1);

    .gem-c-layout-super-navigation-header__navigation-top-toggle-close-icon {
      display: block;
      color: $lbs-green-1;
    }

    .gem-c-layout-super-navigation-header__search-toggle-button-link-icon {
      display: none;
    }
  }
}

.gem-c-layout-super-navigation-header__navigation-top-toggle-close-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 0;
  color: #0b0c0c;
  font-size: 36px;
  font-weight: normal;
  line-height: 22px;
  pointer-events: none;
  text-align: center;
}
